[Unit]
Description=detahard Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/detahardd
User=detahardd

[Install]
WantedBy=multi-user.target
